//- index.jade
include ./modulos/header.jade
.ed-container
  .ed-item.web-75
    h2 ¿Qué es ED GRID?
    p ED GRID es un framework para Responsive Web Design construido en español, con Sass y mucho café.
    p Con ED GRID puede crear layouts y prototipos responsive con mucha facilidad, con una metodología fácil de aprender.
    p ED GRID 1.2 viene con Flexbox. Adios a los floats
    p Esta versión incluye botones y menús desplegables.
    p Si solo desea ED GRID para incluirlo en un proyecto (y no toda la estructura de carpetas que ha descargado) copie la carpeta scss/ed-grid/ y listo
     a.button.round Este es un boton
include ./modulos/footer.jade
